[submodule "libs/tether"]
	path = libs/tether
	url = git@github.com:RandomStudio/tether.git
[submodule "libs/psn-cpp"]
	path = libs/psn-cpp
	url = git@github.com:RandomStudio/psn-cpp.git
[submodule "libs/CppSockets"]
	path = libs/CppSockets
	url = https://github.com/simondlevy/CppSockets.git
